.card-post{
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background: url(/src/assets/img/background.jpg);

    .card{
        border: 1px solid orange;
        margin: 1.4rem;
        
        .card-body{

            a{
                text-decoration: none;
                color:orange;
                font-weight: bolder;
                border: 1px solid orange;
                padding: 0.3rem;
                float: right;
            }
        }
    }
}