@include tablet {

    .highPost {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
    }

    .highPost .item-post {
        width: 48.17%;
    }

    .card-post {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;

    }

    .card-post .card {
        width: 45.08%;
        margin-left: 1.3rem;
    }

    .nav-collapse,
    .container-collapse {
        display: none;
    }

    .header-main .nav-bar .nav-full {
        display: block;
        margin-right: 3rem;
        margin-top: 1.9rem;
    }

    .header-main .nav-bar .nav-full ul{
        margin-right: 8rem;
    }

    .header-main .nav-bar .nav-full ul li {
        display: inline-flex;
        list-style: none;
    }

    .header-main .nav-bar .nav-full ul li a {
        text-decoration: none;
        color: rgb(253, 253, 253);
        font-size: 1.4rem;
        margin: 0.7rem;
    }

    .header-main .nav-bar .nav-full ul li a:hover {
        color: orange;
        transition: 0.5s;
    }

    .header-main .nav-bar .nav-full .dropdown-item {
        padding-left: auto;
        width: 2rem;
        background: rgb(49, 49, 49);
    }
    .header-main .nav-bar .nav-full .dropdown-item a{
        font-size: 1rem;
        padding-left: 0;
        
    }
    .header-main .nav-bar .nav-full .logout{
        color: orange;
    }

    .header-main .nav-bar .nav-full .dropdown-menu{
        background: rgb(49, 49, 49);
    }
    main .carousel .carousel-inner .carousel-item img{
        height: 26rem;
    }

    input[type=button] {
        margin-left: 12rem;
    }

    input[type=submit]{
        margin-left: 10rem;
    }

    #icon {
        margin-left: 16.5rem;
    }

    .formContent {
        margin-left: 3rem;
    }

    .formContent #formFooter {
        margin-left: -7rem;
    }

    .article-post .cont-lft img{
        width: 96.5%;
    }

    .article-post .cont-lft .new-message{
        width: 70%;
        
    }

    .article-post .cont-lft .message{
        width: 80%;
        margin-left: 10rem;
    }

    .article-post .cont-lft .new-message button{
        margin-left: 30rem;
    }

    .article-post .cont-lft .new-message textarea{
        width: 36.3rem;
    }
}

@include desktop {
    .header-main .nav-bar .nav-full ul li a {
        font-size: 1.4rem;
    }

    .header-main .nav-bar .nav-full ul {
        margin-right: 13rem;
        margin-top: -0.7rem;
    }

    .header-main .nav-bar .nav-full .dropdown-item {
        padding-left: auto;
        width: 2rem;
        background: rgb(49, 49, 49);
    }
    .header-main .nav-bar .nav-full .dropdown-item a{
        font-size: 1.4rem;
        padding-left: 0;
        
    }

    
    main .carousel{
        width: 70%;
        margin-left: 16.5rem;
        margin-top: 0.1rem;
        
    }
    main .carousel .carousel-inner .carousel-item img{
        height: 33rem;
    }

    .highPost{
        margin-left: 4rem;
    }

    .highPost .item-post {
        width: 23.17%;
    }

    .card-post{
        padding-left: 7rem;
        
    }

    .card-post .card{
        width: 21%;
        margin-left: 1em;
    }

    .logo{
        padding-right: 45rem;
    }

    input[type=button]{
        margin: 0 auto;
    }

    #icon {
        margin-left: 7.2rem;
    }

    .formContent {
        margin-left: 41rem;
        width: 20%;
    }

    .formContent #formFooter {
        margin-left: -4rem;
    }

    input[type=submit]{
       margin-left: -1.5rem;
       
    }

    .article-post .cont-lft{
        width: 60%;
        margin-left: 22rem;
    }

    .article-post .cont-lft .new-message{
        width: 70%;
        
    }

    .article-post .cont-lft .message{
        width: 80%;
        margin-left: 10rem;
    }

    .article-post .cont-lft .new-message button{
        margin-left: 38rem;
    }

    
}