//Colors 

$grayBack: #BFBFBF;
$whiteFont: #FFF;
$black1: black;

$back: linear-gradient(0deg, rgba(46,46,46,1) 85%, rgba(46,46,46,1) 93%, rgba(45,70,253,1) 100%);

$tablet-size: 768px;
$desktop-size: 1200px;
